brats_attacks_multi_run_v2/**/*.nii.gz
brats_attacks_multi_run_v2/**/*.nii.gz
brats_attacks_multi_run_v2/**/*.nii
brats_attacks_multi_run_v2/**/*.npz
nnUNet_predictions/**/*.nii.gz
nnUNet_predictions/**/*.nii
nnUNet_predictions/**/*.npz
